
html, body {
	margin:0;
	padding:0;
}
body {
	background: url(images/Фон.png) 100% 0% no-repeat scroll;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper {
	padding: 0 calc(50vw - 720px);
	flex: 1;
}
.header	{
	display: flex;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	padding: 0 calc(50vw - 720px);
	background: #fff;
	z-index: 999;
}
.header nav {
	display: flex;
}
.header nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.header nav ul li {
	list-style-type: none;
	font-family: OpenSans-Bold;
	padding: 72px 30px 10px;
	margin: 0;
	letter-spacing: 2px;
	transition: .5s ease;
}
.header nav ul li:hover {
	padding: 62px 30px 10px;
	background: #a5a5a5;
	transition: .5s ease;
}
.header nav ul li a {
	color:#000;
	text-decoration: none;
	font-size: calc( (100vw - 480px)/(1920 - 480) * (20 - 8) + 8px);
}
.header nav ul li.menu-active {
	background: #000;
}
.header nav ul li.menu-active a{
	color: #fff;
}
.header .logo {
	max-width: 330px;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-right: 30px;
}
.header .logo img {
	width: 100%;
}
.right-nav {
	display: flex;
	margin: 0;
	margin-right: 15px;
	margin-left: auto;
}
.right-nav div {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-left: 30px;
}
.right-nav div img {
	height: 40px;
}
.right-nav div:last-child img {
	height: 30px;
	margin-bottom: 5px;
}
.korzinaWindow {
	position: absolute;
	top:12vh;
	right: 12.4vw;
	width: 60vw;
	min-height: 15vh;
	background: #fff;
	padding: 30px;
	display: none;
}
.korzinaWindow::before {
	content:'';
	width: 20px;
	height: 20px;
	top: -10px;
	right: 9%;
	background: #fff;
	transform: rotate(45deg);
	position: absolute;
}
.korzinaWindow_on {
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.korzinaWindow_exit {
	max-width: 30px;
	position: absolute;
	top: -10px;
	right: -10px;
	cursor: pointer;
}
.korzina {
	position: relative;
	cursor: pointer;
}
.korzinaBefore:before {
	content:'';
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: red;
	width:10px;
	height: 10px;
	border-radius: 50px;
}
.korzinaWindow_exit img {
	width: 100%;
}
.korzinaWindow_clear {
	color: #989898;
	font-family: OpenSans-Bold;
	display: block;
}
.korzinaWindow_clearNone {
	display: none;
}
.korzina__product {
	display: none;
	justify-content: space-between;
}
.korzina__img {
	max-width: 150px;
}
.korzina__img img {
	width: 100%;
}
.korzina__product div {
	margin-right: 20px;
}
.korzina__product h5 {
	font-family: OpenSans-Regular;
}
.korzina__product_delete {
	cursor: pointer;
	max-width: 30px;
}
.korzina__product_delete img {
	width: 100%;
}
.korzina__productOn {
	display: flex;
}
.korzinaWindow_button {
	border:none;
	outline: none;
	padding: 10px 30px;
	align-self: flex-end;
	background: #4E97C2;
	color: #fff;
	border-radius: 50px;
	cursor: pointer;
	display: none;
}
.korzinaWindow_buttonOn {
	display: block;
}
main {
	margin-top: 120px;
	padding-top: 100px;
}
.afisha {
	background: url(images/рекламное-изображение_17.png) no-repeat;
	padding: 60px 45px;
	background-size: cover;
}
.afisha p {
	color: #a5a5a5;
	font-family: OpenSans-Regular;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (18 - 10) + 10px);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-weight: 700;
}
.afisha h3 {
	color: #ffb65e;
	font-family: OpenSans-Bold;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (70 - 26) + 26px);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.afisha span {
	color:#ffb65e;
	font-family: OpenSans-Bold;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (30 - 18) + 18px);
	text-transform: uppercase;
	display: inline-block;
	margin:-10px 0 0 ;
	padding:0;
}
.afisha h4 {
	color:#fff;
	font-family: OpenSans-Bold;
	font-size: calc( (100vw - 480px)/(1920 - 480) * (48 - 24) + 24px);
	text-transform: uppercase;
	margin:0;
	padding:0;
}
.content {
	margin-top: 40px;
	display: flex;
}
.content nav {
	background: #091217;
	padding: 65px 45px;
	display: flex;
	flex-direction: column;
	flex: 1 1;
}
.nav__img {
	width: 18px;
}
.nav__img img {
	width: 100%;
}
.nav__img:hover {
	cursor: pointer;
}
.nav__img:active {
	width:16px;
}
.content nav h4 {
	margin:0 auto 20px 0;
	padding:5px 0;
	color: #A3A3A3;
	font-family: OpenSans-Regular;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (24 - 8) + 8px);
	letter-spacing: 1px;
	border-bottom: 1px solid #ffb65e;
}
.content nav button {
	padding: 20px 0;
	color: #A3A3A3;
	font-family: OpenSans-Regular;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (18 - 6) + 6px);
	text-decoration: none;
	font-weight: 700;
	transition: .2s;
	background: none;
	border:none;
	text-align: left;
	outline: none;
}
.content nav button:hover {
	padding-left: 3px;
	color: #E1E1E1;
	transition: .2s;
	cursor: pointer;
}
.content nav button:active {
	padding: 20px 0 10px 3px;
	color: #808080;
}
.buttonActive {
	padding-left: 3px !important;
	color: #E1E1E1 !important;
}
.content nav div {
	height: 120px;
}
.content article {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	position: relative;
	flex: 5 5;
}
.cardProduct {
	display: flex;
	background: #fff;
	position: relative;
}
.cardProduct:not(:last-child) {
	margin-bottom: 45px;
}
.cardProduct .pometka {
	position: absolute;
	right: 15px;
	top: -5px;
	background: #111010;
	width: 48px;
	height: 48px;
	text-align: center;
}
.cardProduct .pometka span {
	color: #F1AC59;
	font-family: OpenSans-Bold;
	line-height: 48px;
	font-size: calc((100vw - 720px)/(1920 - 720) * (18 - 10) + 10px);
}
.imgProduct {
	width: 34%;
}
.imgProduct img {
	width: 100%;
	height: 100%;
}
.descriptionProduct {
	width: 50%;
	font-family: OpenSans-Light;
	padding-left: 30px;
}
.descriptionProduct h5 {
	font-family: OpenSans-Regular;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (30 - 14) + 14px);
	color: #000;
	font-weight: 700;
	margin: 0;
	margin-top: 10px;
	letter-spacing: 1px;
}
.descriptionProduct p, .descriptionProduct span {
	padding: 10px 0;
	font-size: calc( (100vw - 720px)/(1920 - 720) * (16 - 8) + 8px);
	margin:0;
	font-weight: 100;
	color: #000;
	opacity: 0.7;
	letter-spacing: 0.5px;
}
.priceProduct {
	width: 16%;
	padding: 15px;
}
.priceProduct .active-price, .priceProduct .old-price, .priceProduct .none-price {
	font-family: OpenSans-Regular;
	font-size: calc((100vw - 720px)/(1920 - 720)*(16 - 10) + 10px);
	display: inline-block;
	width: 150px;
	text-align: center;
}
.priceProduct .active-price {
	margin: 60px 0 10px;
	padding: 12px 0;
	border-radius: 50px;
	background: #4e97c2;
	color: #fff;
}
.priceProduct .old-price {
	margin: 0;
	padding: 0;
	color: #000;
	text-decoration: line-through;
}
.priceProduct .none-price {
	background: #A4A4A4;
	color: #fff;
	font-weight: 500;
	border-radius: 50px;
	padding: 12px 0;
	margin: 60px 0 10px;
}
.cardProduct_add {
	position: absolute;
	left:-7px;
	bottom: -7px;
	background: #f9f9f9;
	border-radius: 50px;
	padding:2px;
	max-width: 30px;
	border: none;
	outline: none;
}
.cardProduct_addActive {
	cursor: pointer;
	background: #4E97C2;
	transition: 0.1s ease-in;
	bottom:-3px;
}
.cardProduct_add:hover {
	cursor: pointer;
	background: #4E97C2;
	transition: 0.1s ease-in;
	bottom:-3px;
}
.cardProduct_add img {
	width: 100%;
}
footer {
	background: #111010;
	margin-top: 30px;
	padding: 30px calc(50vw - 720px) 50px;
	display: flex;
	justify-content: space-between;
}
footer .footerText {
	color: #A5A5A5;
	max-width: 1080px;
	font-family: OpenSans-Bold;
	font-size: calc((100vw - 720px)/(1920 - 720) * (18 - 8) + 8px);
}
footer .footerText h5 {
	font-size: calc((100vw - 720px)/(1920 - 720) * (18 - 8) + 8px);
	font-weight: 100;
}
footer .footerText ul {
	display: flex;
	margin:0;
	padding:0;
}
footer .footerText ul li {
	list-style-type: none;
	padding: 0 20px;
}
footer .footerText ul li:first-child {
	list-style-type: none;
	padding-left: 0;
}
footer .footerText ul li:not(:last-child) {
	border-right: 1px solid #A5A5A5;;
}
footer .footerText ul li a {
	color: #A5A5A5;
	transition: .2s; 
}
footer .footerText ul li a:hover {
	color: #E1E1E1;
	transition: .2s; 
}
footer .footerImg {
	max-width: 255px;
	display: flex;
	align-items: center;
}
footer .footerImg img {
	width:100%;
}
.cardProductNONE {
	display: none;
}